@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #eff1f5;
  --color-yellow: #ecfb3e;
  --color-purple: #b49aff;
  --color-green: #8cf78b;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: #0a0a0a;
  color: #ededed;
  font-family: var(--font-rethink-sans), sans-serif;
  scroll-behavior: smooth;
}
