@import "tailwindcss";

@theme {
  --color-background: hsl(240 10% 3.9%);
  --color-foreground: hsl(0 0% 98%);
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #eff1f5;
  --color-yellow: #ecfb3e;
  --color-purple: #b49aff;
  --color-green: #8cf78b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rethink-sans), sans-serif;
  scroll-behavior: smooth;
}
