.mainContainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 35%;
  z-index: -1;
  box-shadow: inset 0 -50px 50px -30px rgba(0, 0, 0, 0.7);
}

.manifesto-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  pointer-events: none;
  margin-bottom: 32px;
  margin-top: 80px;
}

@media (min-width: 640px) {
  .manifesto-header {
    justify-content: flex-start;
    padding: 0 24px;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .manifesto-header {
    justify-content: center;
  }
}

.manifesto-article {
  max-width: 900px;
  font-family: var(--font-sans);
  color: #f4f6fff5;
  text-shadow: 0 12px 36px #0c042066;
  margin: 3em auto;
  padding-bottom: 5em;
  line-height: 1.7;
  padding-inline: 20px;
  text-align: center;
}

.manifesto-article h1 {
  font-family: var(--font-sans);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 1em;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  width: 600px;
  justify-self: center;
}

.manifesto-article .second-heading {
  margin-top: 400px;
}

.manifesto-article p {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 0;
  margin-bottom: 1.5em;
}

.manifesto-article h2 {
  font-family: var(--font-sans);
  letter-spacing: -0.01em;
  color: var(--color-purple);
  text-shadow: 0 8px 24px #10083066;
  margin-top: 2em;
  margin-bottom: 0.75em;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
}

.manifesto-article h3 {
  font-family: var(--font-sans);
  letter-spacing: -0.01em;
  color: rgb(153, 153, 153);
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.4;
}

.manifesto-article .manifesto-signature {
  border-top: 2px solid gray;
  text-align: center;
  margin-top: 2em;
  padding-top: 0.5em;
}

.manifesto-article .manifesto-signature p {
  color: #ebeeffe6;
  margin-top: 0;
}

@media (min-width: 1024px) {
  .manifesto-article h1 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .manifesto-article h1 {
    font-size: 3.5rem;
  }
  .manifesto-article h2 {
    font-size: 2rem;
  }
  .manifesto-article h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .mainContainer {
    height: auto !important;
    .manifesto-article {
      margin-bottom: 0px !important;
    }
  }
}
@media (min-width: 640px) {
  .manifesto-article h1 {
    font-size: 3rem;
  }
}
